PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/drivenearby?retryWrites=true&w=majority
JWT_SECRET=drivenearby_super_secret_jwt_key_2025_ai
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:8081
